.contacts-link {

    @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    }
    color: $secondary-text-color;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    transition: color 250ms $time, fill 250ms $time;

    &:focus, &:hover {
    color: $accent-color;
    fill: $accent-color;}
}

.contacts-link__icon {
    fill: currentColor;
    transition: color 250ms $time, fill 250ms $time;
    @media screen and (min-width: $tablet) {
    margin-right: 8px;
    
    }
    
}

.contacts-link:focus .contacts-link__icon,
.contacts-link:hover .contacts-link__icon {
    color: $accent-color;
    fill: $accent-color;
}

.contacts {
    @media screen and (max-width: $before-tablet) {
    display: none;
    }
    @media screen and (min-width: $tablet) {
    margin-left: auto;
    }
    @media screen and (min-width: $desktop) {
    display: flex;
    margin-left: auto;
    }
    
}
.contacts__item{
    &:not(:last-child){
        @media screen and (min-width: $tablet) {
        margin-bottom: 10px;
        }
    }
    
}


.contacts__item +.contacts__item {
    
    @media screen and (min-width: $desktop) {
    margin-left: 50px;
    }
}