.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    

    opacity: 1;
    transition: opacity 250ms $time;
}

.backdrop--is-hidden {
    opacity: 0;
    pointer-events: none;

    .modal {
    transform: translate(-50%, -50%) scale(0.9);}
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms $time;
    @media screen and (min-width: 480px) {
    min-width: 450px;
    min-height: 609px;
    }
    @media screen and (min-width: 1200px) {
    min-width: 528px;
    min-height: 581px;
    }
    

    background-color: $primary-fon-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}

.close-modal {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-right: 7px;

    background: $primary-fon-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

}

.close-modal__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    fill: #000;
    transition: fill 250ms $time;
    
    &:hover {
    fill: $accent-color;}
}

