.projects-container {

    @media screen and (min-width: $tablet) and (max-width: $before-desktop) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    }
    
    @media screen and (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    }
}

.projects-container__element {
    
    transition: box-shadow 250ms $time;

    &:not(:last-child) {
    @media screen and (max-width: $before-tablet) {
        margin-bottom: 30px;
        
    }
    }

    @media screen and (min-width: $tablet) and (max-width: $before-desktop) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
    }
    @media screen and (min-width: $desktop) {
        width: calc((100% - 60px) / 3);
        margin-right: 30px;
        margin-bottom: 30px;
        &:nth-child(3n) {
            margin-right: 0px;
        }

        &:nth-last-child(-n + 3) {
            margin-bottom: 0px;
        }
    }

    
}

.work-examples {
    position: relative;
    overflow: hidden;

    &::before {
    display: inline-block;
    content: '';
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: rgba(33, 150, 243, 0.9);
    position: absolute;
    transform: translateY(101%);
    transition: transform 250ms $time;}
}

.projects-container__link:hover ::before {
    transform: translateY(0);
}

.projects-container__link:hover .work-examples__text {
    transform: translateY(0);
    opacity: 1;
}