.text-title {
    color: $primary-text-color;

    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;
    z-index: 999;
}

.text-title--inverse {
    color: $primary-white-color;
    margin-bottom: 20px;
}

.text-title--lighten {
    color: $primary-white-color;
    margin: 0;
    position: absolute;
    bottom: 25px;
    right: 90px;
}
.text-title--center{
    @media screen and (max-width: 1199px){
       text-align: center; 
    }
    
}
.text {
    color: $secondary-text-color;
    font-size: 14px;
    line-height: 1.7;
    margin-top: 0px;
    margin-bottom: 0px;
}

.section-title {
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}

.team__name-box {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__text-title-name {
    color: $primary-text-color;

    font-size: 14px;
    line-height: 1.1;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}

.team__text-position {
    color: $secondary-text-color;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 16px;
}

// Текст модалки
.modal-form__text {
    font-size: 20px;
    font-weight: 700;
    line-height: 0.87;
    text-align: center;
    margin: 0;
    margin-bottom: 12px;
}

.modal-form__label {
    display: block;
    margin-top: 0px;
    margin-bottom: 4px;

    color: $secondary-text-color;
    font-size: 12px;
    line-height: 0.86;
}


.modal-form__field-check-label-text{
    font-size: 12px;
    line-height: 0.86;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
    transition: transform 250ms $time;
    margin: 0;
    

    @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
    }
    
}

.modal-form__field-check-link {
    font-size: 12px;
    line-height: 0.86;
    letter-spacing: 0.03em;
    color: $accent-color;
    
}

// Стили текста в карточках на странице Портфолио 
.projects-container__text-title {
    color: $primary-text-color;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 0px;
    margin-bottom: 4px;
}

.projects-container__text {
    color: $secondary-text-color;

    font-size: 16px;
    line-height: 1.87;
    margin-top: 0px;
    margin-bottom: 0px;
}

.projects-container__text-box {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
}

.work-examples__text {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
    color: $primary-white-color;
    position: absolute;
    max-width: 322px;
    max-height: 168px;
    top: 65px;
    left: 25px;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 250ms $time, opacity 250ms $time;

}