$primary-text-color: #212121;
$secondary-text-color: #757575;
$font-family-Roboto:Roboto, sans-serif;
$font-family-Raleway:Raleway,sans-serif;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$secondary-fon-color: #f5f4fa;
$primary-fon-color: #ffffff;
$shadow: rgba(0, 0, 0, 0.15);
$time: cubic-bezier(0.4, 0, 0.2, 1);